<!DOCTYPE html>
<html>
  <head>
    <title>Slides</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

<script>
<% if current_user_author? %>
  window.author = true;
<% end %>
</script>
<%= javascript_include_tag 'application' %>
</html>
